
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PixageStudioWeb</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    </environment>
    <style>

     #header{
        
         position:relative;
        
     }
        .img-logo {
            margin-left: 50px;
            max-height: 270px;
            max-width: 270px;
        }

        #footer {
    width: 100%;
    position: relative;
    padding-left: 20px;
    bottom:initial;
    left: 0;
    line-height: 20px;
    color:gold;
    font-size: 18px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    margin-top:15%;
   
}

    #footer span {
        display: block;
    }
        #session{
           margin-right:12%;
        }
    </style>
    <link rel="stylesheet" href="~/Plugin/css/login.css">
</head>
<body>
    <div id="session" class="col-md-pull-12 pull-right">
        <ul class="nav nav-bar">
            <li>
                @if (User?.Identity?.IsAuthenticated ?? true)
                {
                    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
                }
                else
                {

                    <ul>
                 
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In </a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                <!-- Login form here -->
                                @await Html.PartialAsync("~/Views/Home/_LoginPartial.cshtml")

                            </div>
                            
                        </li>
                        
                    </ul>
                }
            </li>

        </ul>

    </div>
    <!--menu-->
    <div class="col-md-12">
        <div class="col-md-3">
            <img src="~/assets/logo/pixage_studio.png" class="img-logo" alt="">
        </div>
        <div class="col-md-5" id="header">
            @await Html.PartialAsync("~/Views/Home/_HeaderPartial.cshtml")
        </div>
        <div class="col-md-3"></div>



    </div>


    <div class="col-md-12">

        @RenderBody()
    </div>
    <div class="nav col-md-12" id="footer">

        ALL IMAGES © 2019 PIXAGE STUDIO PHOTOGRAPHY. ALL RIGHTS RESERVED.  DO NOT COPY, DOWNLOAD OR PRINT WITHOUT WRITTEN PERMISSION.

    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

