
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .photo-gallery {
        color: #313437;
        background-color: #fff;
    }

        .photo-gallery p {
            color: #7d8285;
        }

        .photo-gallery h2 {
            font-weight: bold;
            margin-bottom: 40px;
            padding-top: 40px;
            color: inherit;
        }




        .photo-gallery .intro {
            font-size: 16px;
            max-width: 500px;
            margin: 0 auto 40px;
        }

            .photo-gallery .intro p {
                margin-bottom: 0;
            }

        .photo-gallery .photos {
            padding-bottom: 20px;
        }

        .photo-gallery .item {
            padding-bottom: 30px;
        }

    img.img-gallery {
        max-height: 250px;
        max-width: 265px;
        min-height: 250px;
        min-width: 265px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 5px, 5px,5px,5px;
    }
</style>


<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="~/assets/css/lightbox.min.css">

<div id="container" class="col-md-12">
    <div class="row photos" style="z-index:-100">
        @foreach (ImagePool item in ViewBag.Genres)

        {

            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/images/@Html.DisplayFor(modelItem=> item.AltName )" data-lightbox="photos"><img class="img-gallery" src="~/images/@Html.DisplayFor(modelItem=> item.AltName )"></a></div>


        }

    </div>


</div>
@section Scripts{
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets//js/lightbox.min.js"></script>
}
