@model Login

<div id="form" style="min-width:350px;" class="pull-left">
    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="Register" asp-controller="Account" method="post" style="margin:5px 5px 5px 5px">
        <input type="hidden" asp-for="ReturnUrl" />
        <ul>
            <li>
                <label asp-for="Email"></label>
                <input asp-for="Email" class="col-md-6" />
            </li>


            <li>
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="col-md-6" />
            </li>
            <li>
                
            </li>
            <li>
                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </li>
            <li>
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </li>
        </ul>
    </form>

</div>
