

@{
    ViewData["Title"] = "Home Page";


}




<div id="carousel" style="align-self:center; align-content:center;">
    @foreach (ImagePool item in ViewBag.Carousel)
    {
        <a href="#"><img src="~/images/@Html.DisplayFor(modelItem=> item.AltName)" id="item-1" style="z-index:-1;" /></a>
    }


</div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/Plugin/js/jquery.waterwheelCarousel.js"></script>
<script type="text/javascript">
    var $k = jQuery.noConflict();
    $k(document).ready(function () {
        var carousel = $k("#carousel").waterwheelCarousel({
            flankingItems: 3,
            movingToCenter: function ($kitem) {
                $k('#callback-output').prepend('movingToCenter: ' + $kitem.attr('id') + '<br/>');
            },
            movedToCenter: function ($kitem) {
                $k('#callback-output').prepend('movedToCenter: ' + $kitem.attr('id') + '<br/>');
            },
            movingFromCenter: function ($kitem) {
                $k('#callback-output').prepend('movingFromCenter: ' + $kitem.attr('id') + '<br/>');
            },
            movedFromCenter: function ($kitem) {
                $k('#callback-output').prepend('movedFromCenter: ' + $kitem.attr('id') + '<br/>');
            },
            clickedCenter: function ($kitem) {
                $k('#callback-output').prepend('clickedCenter: ' + $kitem.attr('id') + '<br/>');
            }
        });

        $k('#prev').bind('click', function () {
            carousel.prev();
            return false
        });

        $k('#next').bind('click', function () {
            carousel.next();
            return false;
        });

        $k('#reload').bind('click', function () {
            newOptions = eval("(" + $k('#newoptions').val() + ")");
            carousel.reload(newOptions);
            return false;
        });
        $k('body').on('mousewheel', function (e) {
            if (e.originalEvent.wheelDelta > 0) {
                carousel.prev();
                return false;
            }
            else {
                carousel.next();
                return false;
            }
        });


    });
</script>

